<mat-toolbar>Contatos</mat-toolbar>
<form [formGroup]="formulario" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
        <mat-label>Nome: </mat-label>
        <input formControlName="nome" matInput placeholder="digite seu nome" />
        <div *ngIf="formulario.controls.nome.errors">
            <div *ngIf="formulario.controls.nome.errors.required">
                campo nome é obrigatorio
            </div>
        </div>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Email: </mat-label>
        <input formControlName="email" matInput placeholder="digite seu email" />
        <div *ngIf="formulario.controls.email.errors">
            <div *ngIf="formulario.controls.email.errors.email">
                email invalido
            </div>
        </div>
    </mat-form-field>

    <button  [disabled]="!formulario.valid" mat-button color="primary" >Adicionar</button>
</form>