<h1 class="mt-4">Servico prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-bitem active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label >Clientes : </label>
                    <select class="form-control">
                        <option value="">selecione....</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{ cliente.nome }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>